<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
        <h2>Search through our job listings</h2>
        <!--	Search Section		-->
		<form id="job_search" class="form-inline" action="@Url.RouteUrl("Jobs Search")">
			<div class="form-group">
                <input class="form-control" placeholder="Type in a keyword e.g. skill, company name" name="search"
					required = "true">
            </div>
            <div class="form-group">
                <select class="form-control" name="specialization" required="true">
                    <option value=""> Select a specialization </option>
                    @foreach( var specialization in @ViewBag.specializations ) {
                        <option value="@specialization.code">@specialization.name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="level" required = "true">
					<option value=""> Select a skill level</option>
                    @foreach( var level in @ViewBag.careerLevels ) {
                        <option value="@level.code">@level.name</option>
					}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Search</button>
            </div>
        </form>
		
		</div>
	</div>

	<div class="row job-results">
        
	</div>
</div>

<script>
    $('#job_search').submit( function(e){
        e.preventDefault();

	    $.ajax({
            type: 'GET',
	        url: $(this).attr('action'),
	        data: $(this).serialize(),
	        success: (resp) => {
                console.log('search results', resp)
	        }
	    });
	});
</script>
